<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    
    <% include ../../partials/headers %>
  </head>
  <body>
    <div class="row">
        <div class="col-12 p-0">
            <% include ../../partials/adminNavbar %>
        </div>
        <div class="col-12 border rounded px-5 py-4">
            <div class="row">
                <div class="col-12">
                <% if (alert == "newTrainning") { %>
                    <div id="newTrainningAlert" class="alert alert-success alert-dismissible fade show" role="alert">
                      <strong>New trainning created!</strong>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                <% } else if(alert == "trainningDeleted") { %>
                    <div id="trainningDeletedAlert" class="alert alert-warning alert-dismissible fade show" role="alert">
                      <strong>Trainning successfully deleted!</strong>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                <% } %>
                </div>
            </div>
            <div class="row justify-content-between align-items-center">
                <h1 class="col-12 col-sm-4 pb-4">Trainnings</h1>
                <div class="col-12 col-sm-4">
                    <button type="button" class="btn btn-success float-right mr-3" data-toggle="modal" data-target="#newTrainning">
                        New trainning
                    </button>
                </div>
            </div>
            <table class="table table-hover">
            	<thead>
            		<tr>
            			<th>ID</th>
            			<th>Name</th>
            			<th>Description</th>
            			<th>Language</th>
            			<th></th>
            		</tr>
            	</thead>
            	<tbody>
            		<% for(var i=0; i < trainnings.length; i++) { %>
            		<tr>
            			<td><%= trainnings[i]._id %></td>
            			<td><%= trainnings[i].name %></td>
            			<td><%= trainnings[i].description %></td>
            			<td>
                            <%= trainnings[i].language %>
                            <span class="flag-icon flag-icon-gr"></span>
                        </td>
            			<td class="mr-2" style="text-align: right;">
            			    <% var editLink = "../../admin/trainnings/"+trainnings[i]._id %>
            				<a href="<%= editLink %>" role="button" style="color: black">
            					<i class="fas fa-edit fa-lg"></i>
            				</a>
                            <% var deleteLink = "/admin/trainnings/"+trainnings[i]._id+"?action=delete" %>
                            <a href="<%= deleteLink %>" role="button" style="color: black">
                                <i class="fas fa-trash fa-lg mr-2"></i>
                            </a>
            			</td>
            		</tr>
            		<% } %>
            	</tbody>
            </table>
        </div>
    </div>
  </body>
</html>
<!-- Modal -->
<div class="modal fade" id="newTrainning" tabindex="-1" role="dialog" aria-labelledby="newUserTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">New trainning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="editUser" method="POST" action="/admin/trainnings" class="container p-0 mt-3">
            <div class="form-group mx-auto row">
                <label for="name" class="col-12 col-sm-3 offset-sm-1">Name</label>
                <input type="text" name="name" placeholder="Name" id="name" class="form-control col-12 col-sm-7" required>
            </div>
            <div class="form-group mx-auto row">
                <label for="description" class="col-12 col-sm-3 offset-sm-1">Description</label>
                <textarea class="form-control col-12 col-sm-7" name="description" placeholder="Description" id="description" rows="3" required></textarea>
            </div>
            <div class="form-group mx-auto row">
                <label for="language" class="col-12 col-sm-3 offset-sm-1">Language</label>
                <select id="language" name="language" class="form-control col-12 col-sm-4" required>
                    <option selected>EN</option>
                    <option>ES</option>
                    <option>CA</option>
                </select>
            </div>
            <div class="row justify-content-end">
                <div class="col-12 col-sm-2">
                    <input type="submit" value="Add" class="btn btn-success mx-2">         
                </div>
                <div class="col-12 col-sm-2 p-0">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div>
                <div class="col-12 col-sm-1"></div>
            </div>
        </form>
      </div>

    </div>
  </div>
</div>