<!DOCTYPE html>
<html>
  <head>
    <title><%= trainning.name %> profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <% include ../../partials/headers %>
  </head>
  <body>
    <div class="row">
        <div class="col-12 p-0">
            <% include ../../partials/adminNavbar %>
        </div>
        <div class="col-12 border rounded px-3 py-4">
            <% if (alert == "trainningEdited"){ %>
            <div id="trainningEditedAlert" class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>Trainning changes saved successfully!</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <% } else if(alert == "stepRemoved") { %>
            <div id="stepRemovedAlert" class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Step removed successfully!</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div> 
            <% } %>
            <h2 class="text-center mt-3 mb-5"><%= trainning.name %></h2>
            <div class="row">
                <div class="col-12 col-sm-4">
                    <% var imgLink="../../api/photo/trainnings/"+trainning.id; %>
                    <img src="<%= imgLink %>" class="rounded-circle mx-auto d-block" style="max-width: 250px">
                </div>
                <% var editTrainningLink = "/admin/trainnings/"+trainning._id; %>
                <form name="edittrainning" method="POST" action="<%= editTrainningLink %>" class="col-12 col-sm-8">
                    <div class="form-group mx-auto row">
                        <label for="id" class="col-12 col-sm-2">ID</label>
                        <input type="text" name="id" value="<%= trainning._id %>" id="id" class="form-control col-12 col-sm-4" readonly>
                        <label for="language" class="col-12 col-sm-2 offset-sm-1">Language</label>
                        <select id="language" class="form-control col-12 col-sm-2" name="language">
                        <% var languages = ["en", "es", "ca"]; %>
                        <% for(var i = 0; i < languages.length; i++){
                            if(trainning.language == languages[i]){ %>
                                <option selected><%= languages[i] %></option>
                            <%  } else {%>
                                <option><%= languages[i] %></option>
                            <%  } 
                        } %> 
                        </select>
                    </div>
                    <div class="form-group mx-auto row">
                        <label for="name" class="col-12 col-sm-2">Name</label>
                        <input type="text" name="name" value="<%= trainning.name %>" id="name" class="form-control col-12 col-sm-9">
                    </div>
                    <div class="form-group mx-auto row">
                        <label for="description" class="col-12 col-sm-2">Description</label>
                        <textarea class="form-control col-12 col-sm-9" name="description"  id="description" rows="2"><%= trainning.description %></textarea>
                    </div>
                    <div class="form-group mx-auto row">
                        <label class="col-12 col-sm-2">Steps</label>
                        <div class="col-9 p-0">
                            <% for(var i = 0; i < trainning.steps.length; i++){ %>    
                                <button type="button" class="btn btn-outline-secondary" disabled>
                                    <%= trainning.steps[i] %>
                                    <% var removeStepLink = "/admin/trainnings/" + trainning.id + "/steps?action=removeStep&step=" + trainning.steps[i];%>
                                    <a href="<%= removeStepLink %>" class="close ml-2"><span aria-hidden="true">&times;</span></a>
                                </button>
                            <% } %>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addStepModal">
                                Add step
                            </button>
                        </div>
                    </div>
                    <div class="form-group mx-auto row">
                        <div class="col-12 col-sm-2">
                            <input type="submit" value="save" class="btn btn-info">         
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </body>
</html>

<!-- Modal add pet-->
<div class="modal fade" id="addStepModal" tabindex="-1" role="dialog" aria-labelledby="addStepTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add step</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="addStep" method="POST" action="/admin/trainnings/steps" class="container p-0 mt-3">
            <input type="hidden" name="userId" id="userId" value="<%= trainning.id %>" >
            <div class="form-group mx-auto row">
                <input type="text" name="step" id="step" placeholder="New step" class="form-control col-12" required>
            </div>
            <div class="row justify-content-end">
                <div class="col-12 col-sm-3 ">
                    <input type="submit" value="Add step" class="btn btn-success mx-2">         
                </div>
                <div class="col-12 col-sm-2 p-0">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </form> 
      </div>
    </div>
  </div>
</div>
