<!DOCTYPE html>
<html>
  <head>
    <title><%= user.email %> profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </head>
  <body>
    <div class="row">
        <div class="col-12 border rounded px-3 py-4">
            <h2 class="text-center mt-3 mb-5"><%= user.email %></h2>
            <div class="row">
                <div class="col-12 col-sm-4">
                    <% var imgLink="../../api/photo/users/"+user.email %>
                    <img src="<%= imgLink %>" class="rounded-circle mx-auto d-block" style="max-width: 250px">
                </div>
                <form name="editUser" method="POST" action="/admin/users/edit" class="col-12 col-sm-8">
                    <div class="form-group mx-auto row">
                        <label for="id" class="col-12 col-sm-1">ID</label>
                        <input type="text" name="id" value="<%= user.id %>" id="id" class="form-control col12 col-sm-4" readonly>
                        <label for="email" class="col-12 col-sm-1 offset-sm-1">Email</label>
                        <input type="email" name="email" value="<%= user.email %>" id="email" class="form-control col12 col-sm-4" readonly>
                    </div>
                    <div class="form-group mx-auto row">
                        <label for="alias" class="col-12 col-sm-1">Alias</label>
                        <input type="text" name="alias" value="<%= user.alias %>" id="alias" class="form-control col12 col-sm-4">
                        <label for="role" class="col-12 col-sm-1 offset-sm-1">Role</label>
                        <select id="size" class="form-control col-12 col-sm-4">
                        <% var roles = ["user", "admin"]; %>
                        <% for(var i = 0; i < roles.length; i++){
                            if(user.role == roles[i]){ %>
                            <option selected><%= roles[i] %></option>
                            <%  } else {%>
                                <option><%= roles[i] %></option>
                            <%  } 
                        } %> 
                        </select>
                    </div>
                    <div class="form-group mx-auto row">
                        <label for="points" class="col-12 col-sm-1">Points</label>
                        <input type="points" name="points" value="<%= user.points %>" id="points" class="form-control col12 col-sm-4" readonly>
                    </div>
                    <div class="col-12 col-sm-2 offset-sm-1 p-0">
                        <input type="submit" value="save" class="btn btn-info">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12 border rounded px-3 py-4">
            <div class="container">
                <div class="row">
                    <h1 class="pb-4 col-12 col-sm-4">Pets</h1>
                    <div class="col-12 col-sm-2 offset-sm-6">
                        <a href="" class="btn btn-info float-right mr-3" role="button">Add pet</a>
                    </div>
                </div>
                <% for(var i=0; i < pets.length; i++) { %>
                <div class="row border rounded my-2">
                    <div class="col-12">
                    <div class="row py-3">
                        <h4 class="col-12 col-sm-4 offset-sm-1"><%= pets[i].name %></h4>
                        <h6><%= pets[i].owner._id %></h6>
                        <h6>-</h6>
                        <h6><%= user._id %></h6>
                        <% if(pets[i].owner._id == user._id) { %>
                        <div class="col-12 col-sm-2 offset-sm-5">
                            <a href="" class="btn btn-danger float-right mr-3" role="button">Delete</a>
                        </div>
                        <% } %>
                    </div>
                    </div>
                    <div class="col-12 col-sm-3">
                        <% var imgLink="../../api/photo/pets/"+pets[i].owner.email+"/"+pets[i].name %>
                        <img src="<%= imgLink %>" class="rounded-circle mx-auto d-block" style="max-width: 250px">
                    </div>
                    <form name="<%= pets[i]._id %>" method="POST" action="/admin/pets/edit" class="col-12 col-sm-9">
                    <div class="container">
                        <div class="form-group row">
                            <label for="id" class="col-12 col-sm-2">ID</label>
                            <input type="text" name="id" value="<%= pets[i]._id %>" id="id" class="form-control col12 col-sm-4" readonly>
                            <label for="name" class="col-12 col-sm-2">Name</label>
                            <input type="text" name="name" value="<%= pets[i].name %>" id="name" class="form-control col12 col-sm-4">
                        </div>
                        <div class="form-group row">
                            <label for="breed" class="col-12 col-sm-2">Breed</label>
                            <input type="text" name="breed" value="<%= pets[i].breed %>" id="breed" class="form-control col12 col-sm-4">
                            <label for="size" class="col-12 col-sm-2">size</label>
                            <select id="size" class="form-control col-12 col-sm-4">
                            <% var sizes = ["Small", "Medium", "Big"]; %>
                            <% for(var y = 0; y < sizes.length; y++){
                                if(pets[i].size == sizes[y]){ %>
                                <option selected><%= sizes[y] %></option>
                                <%  } else {%>
                                    <option><%= sizes[y] %></option>
                                <%  } 
                            } %> 
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="description" class="col-12 col-sm-2">Description</label>
                            <input type="text" name="description" value="<%= pets[i].description %>" id="description" class="form-control col-12 col-sm-4">
                            <label for="weight" class="col-12 col-sm-2">Weight</label>
                            <input type="text" name="weight" value="<%= pets[i].weight %>" id="weight" class="form-control col12 col-sm-2">
                        </div>        
                    </div>
                    </form>
                    <div class="col-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>Alias</th>
                                    <th>Email</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>Owner</strong></td>
                                    <td><%= pets[i].owner._id %></td>
                                    <td><%= pets[i].owner.alias %></td>
                                    <td><%= pets[i].owner.email %></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <% for(var y=0; y < pets[i].otherOwners.length; y++) { 
                                        if (y == 0) {
                                    %>
                                        <td rowspan="<%= (pets[i].otherOwners.length + 1)%>">
                                            <strong>Other owners</strong>
                                        </td>
                                    <%  } %>
                                        <td><%= pets[i].otherOwners[y]._id %></td>
                                        <td><%= pets[i].otherOwners[y].alias %></td>
                                        <td><%= pets[i].otherOwners[y].email %></td>
                                        <% var deleteLink = "../../admin/users/"+pets[i].otherOwners[y]._id %>
                                        <td>
                                            <a href="<%= deleteLink %>" role="button" style="color: black">
                                                <i class="fas fa-times fa-lg"></i>
                                            </a>
                                        </td>
                                    <% } %>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
  </body>
</html>